---
http_interactions:
- request:
    method: get
    uri: https://www.publicstorage.com/sitemap_0-product.xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Dw-Request-Base-Id:
      - WhGSWHtpRmcBAAB_
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd http://www.google.com/schemas/sitemap-image/1.1 http://www.google.com/schemas/sitemap-image/1.1/sitemap-image.xsd http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
            <url>
                <loc>https://www.publicstorage.com/self-storage-ca-burbank/1.html</loc>
                <lastmod>2024-11-26T10:19:17+00:00</lastmod>
                <changefreq>daily</changefreq>
                <priority>1.0</priority>
            </url>
            <url>
                <loc>https://www.publicstorage.com/self-storage-ca-los-angeles/2.html</loc>
                <lastmod>2024-11-26T10:19:55+00:00</lastmod>
                <changefreq>daily</changefreq>
                <priority>1.0</priority>
            </url>
            <url>
                <loc>https://www.publicstorage.com/self-storage-ca-los-angeles/3.html</loc>
                <lastmod>2024-11-26T12:06:59+00:00</lastmod>
                <[...]
